<h1>Stations</h1>
<ul>
<%= facade.stations.each do |station| %>
  <li><%= station.name %></li>
<% end %>
</ul>


<h3>Closest Stations</h3>
  <ul>
    <%= facade.closest_stations.each do |station| %>
      <li><%= station.name %></li>
    <% end %>
</ul>
